<div Padding=Padding.Is4.FromStart ElementId="ToC" ></div>
@code {
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        JSRuntime.InvokeVoidAsync("TableOfContents");
    }
}
